@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blue-500 {
    background-color: #3b82f6;
}

.bg-blue-700 {
    background-color: #2563eb;
}

.bg-green-100 {
    background-color: #d1fae5;
}

.bg-red-100 {
    background-color: #fcd5ce;
}

.bg-blue-100 {
    background-color: #dbeafe;
}

.text-green-100 {
    color: #d1fae5;
}

.text-red-100 {
    color: #fcd5ce;
}

.bg-gray-800 {
    background-color: #374151;
}


